@use "../vars" as *;

.button {
  padding: var(--space-xs-s);
  font-size: var(--font-0);
  cursor: pointer;
  font-family: $primary-font;
  text-decoration: none;
  font-weight: bold;
  align-items: center;
  border-radius: 20px;
  &--primary {
    background-color: $white;
    color: $blue-dark;
  }
  &:hover {
    background-color: $blue-dark;
    color: $white;
    transform: scale(1.1);
  }
}
