@use "../vars" as *;

.infobar {
  padding: var(--space-m-l);
  display: flex;
  justify-content: center;
  font-family: $primary-font;
  color: $white;
  flex-wrap: wrap;

  &__list {
    display: flex;
    gap: var(--space-l-xl);
    list-style: none;
    padding-bottom: var(--space-xs-s);
    align-items: center;
  }

  &__item {
    padding: var(--space-s-m);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: var(--space-m);
    border-radius: var(--space-s);
    background: linear-gradient(135deg, $blue-dark 0%, $blue-light 100%);
    transition: transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
    }
  }

  &__icon {
    margin: var(--space-xs-s);
  }

  &__title {
    font-size: var(--font-1);
    display: block;
    margin-bottom: var(--space-xs);
    font-family: $heading-font;
  }

  &__text {
    font-size: var(--font-0);
    margin: 0;
    color: $gray-100;
  }
}
