@use "_vars" as *;

.hero {
  padding-top: var(--space-m-l);
  padding-bottom: var(--space-2xl-3xl);
  background-image: url(../images/backend.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  .container {
    position: relative;
    z-index: 1;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $black;
    content: "";
    opacity: 0.5;
  }

  &__text {
    font-family: $heading-font;
    font-size: var(--font-1);
    color: $text-light;
    margin: 0 auto;
    text-align: center;
    line-height: var(--space-l-xl);
    font-weight: bold;
  }
  &__logo {
    height: var(--space-2xl-3xl);
    margin: 0 auto;
    display: block;
    border-radius: 50%;
  }
}
