$primary-font: "Roboto", sans-serif;
$heading-font: "Atomic Age", system-ui;

$blue-light: #0088f0;
$blue-dark: #006dde;
$red-light: #fc6960;
$red-dark: #b00200;
$black: #000000;
$white: #ffffff;
$gray-100: #f5f5f5;
$gray-200: #e5e5e5;
$gray-300: #cccccc;
$gray-400: #999999;
$gray-500: #666666;
$gray-600: #444444;
$gray-700: #2a2a2a;
$gray-800: #1a1a1a;
$gray-900: #0d0d0d;

$text-primary: #0d0d0d; // texto principal
$text-secondary: #444444; // textos menos importantes
$text-light: #ffffff; // para superfícies escuras
$text-inverse: #000000; // para superfícies claras
